    <div class="credits text-center">
        <p>
            <a href="http://jasonwatmore.com/post/2015/12/09/MEAN-Stack-User-Registration-and-Login-Example.aspx">MEAN Stack User Registration and Login Example</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com">JasonWatmore.com</a>
        </p>
    </div>
</body>
</html>